@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700|Playfair+Display:400,400i,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700|Playfair+Display:400,400i,700&subset=latin-ext");
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important; }

.contact-page {
  background-image: url("../images/pexels-photo.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 20px;
  min-height: calc(100vh - 40px); }
  .contact-page-title {
    font-family: 'Playfair Display';
    font-weight: 400;
    text-align: center;
    color: black;
    font-size: calc(40px + (45 - 40) * ((100vw - 300px) / (1200 - 300)));
    padding-top: 100px; }
  .contact-page-content {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    font-family: "Lato";
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1200 - 300)));
    font-weight: 400; }
    .contact-page-content .message {
      margin-bottom: 30px; }
      .contact-page-content .message input[type=text],
      .contact-page-content .message select,
      .contact-page-content .message textarea {
        font-family: "Lato";
        font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1200 - 300)));
        font-weight: 400;
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 10px;
        resize: none;
        background-color: #f3f3f3;
        color: #262626;
        font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1200 - 300))); }
      .contact-page-content .message ::placeholder {
        color: #262626;
        font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1200 - 300))); }
      .contact-page-content .message input[type=submit] {
        background-color: #992727;
        color: #fff;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        cursor: pointer; }
      .contact-page-content .message input[type=submit]:hover {
        background-color: #fff;
        color: #000; }
      .contact-page-content .message .info-label {
        font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1200 - 300)));
        color: #000; }
      .contact-page-content .message .loading-icon {
        display: none;
        width: 60px; }
      .contact-page-content .message .form-error {
        color: #fff;
        font-weight: 400;
        margin-bottom: 10px;
        font-size: 17px;
        background-color: #1C1C1C;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 5px;
        text-align: center; }
      .contact-page-content .message .success-info {
        color: #fff;
        font-weight: 400;
        font-size: 17px;
        background-color: #1C1C1C;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 5px;
        text-align: center; }
      .contact-page-content .message .accept {
        display: flex;
        height: 50px; }
    .contact-page-content .details {
      display: flex;
      flex-direction: column;
      color: #fff;
      background: rgba(0, 0, 0, 0.7);
      border-radius: 5px;
      padding: 20px;
      text-align: center; }
      .contact-page-content .details .title {
        font-family: "Playfair Display";
        font-weight: 400;
        color: #992727;
        font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1200 - 300)));
        font-size: calc(25px + (30 - 25) * ((100vw - 300px) / (1200 - 300)));
        color: #fff;
        padding-bottom: 20px; }
      .contact-page-content .details .description {
        padding-bottom: 10px; }
      .contact-page-content .details .map-link {
        width: 100%;
        margin-top: 20px; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important; }

@media (min-width: 480px) {
  .header-menu .logo img {
    left: 20px; }
  .header-menu .contact-text {
    left: 40px; }
  .slider {
    height: 70vh; }
  .apartments {
    height: 75vh; }
  .contact-page-content .map-link {
    height: 250px; } }

@media (min-width: 768px) {
  .aparthotel {
    height: 120vh; }
  .header-menu .logo img {
    left: 40px;
    top: 0; }
  .header-menu .contact-text {
    left: 70px; }
  .flexslider {
    width: 80%; }
  .apartments {
    height: 90vh; }
  .services .service-1,
  .services .service-2,
  .services .service-3 {
    display: flex;
    height: 350px; }
    .services .service-1 .service-img,
    .services .service-2 .service-img,
    .services .service-3 .service-img {
      width: 50%; }
    .services .service-1 .text,
    .services .service-2 .text,
    .services .service-3 .text {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .services .service-1 .text .description,
      .services .service-2 .text .description,
      .services .service-3 .text .description {
        width: 80%;
        margin: 0 auto; }
  .services .service-2 {
    flex-direction: row-reverse; }
  .travel .flexContainer {
    width: 100%;
    display: flex; }
    .travel .flexContainer .travel-1,
    .travel .flexContainer .travel-2 {
      width: 44%;
      padding: 0 3%; }
  .travel .details {
    width: 100%; }
    .travel .details .sub-title {
      font-family: "Playfair Display";
      font-weight: 400;
      color: #992727;
      font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1200 - 300)));
      font-size: calc(18px + (30 - 18) * ((100vw - 300px) / (1200 - 300)));
      text-align: center;
      margin-bottom: 10px; }
    .travel .details ul {
      font-family: "Lato";
      font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1200 - 300)));
      font-weight: 400;
      font-size: calc(13px + (16 - 13) * ((100vw - 300px) / (1200 - 300)));
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      line-height: 1.4;
      margin-bottom: 30px; }
      .travel .details ul li {
        list-style: none;
        margin-bottom: 10px; }
        .travel .details ul li img {
          padding-right: 10px; }
  .contact-page-content {
    width: 100%;
    display: flex; }
    .contact-page-content .message {
      flex: 1;
      margin: 0 3%; }
    .contact-page-content .details {
      flex: 1;
      margin: 0 3%;
      text-align: left;
      align-self: flex-start; }
    .contact-page-content .map-link {
      height: 200px; } }

@media (min-width: 992px) {
  .header-menu .menu-bar .menu-btn {
    display: none; }
  .header-menu .menu-nav {
    display: block;
    width: auto;
    margin: 0;
    font-size: 16px;
    z-index: 3;
    position: fixed;
    top: 0;
    right: 30px; }
    .header-menu .menu-nav ul {
      z-index: 3;
      display: flex;
      justify-content: flex-end;
      height: 50px; }
      .header-menu .menu-nav ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px; }
  .flexslider {
    width: 75%;
    height: 550px; }
  .slider {
    height: 90vh; }
  .contact {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .contact-info {
      -webkit-flex-basis: 25%;
      flex-basis: 25%;
      max-width: 25%; }
    .contact .map {
      -webkit-flex-basis: 75%;
      flex-basis: 75%;
      max-width: 75%;
      height: auto; }
    .contact .icons .facebook-icon,
    .contact .icons .instagram-icon {
      width: 24px;
      height: 24px; }
  .contact-page-content .message {
    flex: 2; }
  .contact-page-content .details {
    flex: 1; } }

@media (min-width: 1200px) {
  .header-menu .menu-nav {
    right: 50px; }
  .aparthotel {
    display: flex; }
    .aparthotel-left {
      flex-basis: 40%;
      max-width: 40%;
      display: block;
      min-height: 100vh; }
      .aparthotel-left .img-1 {
        width: 100%;
        height: 100%; }
    .aparthotel-right {
      flex-basis: 57%;
      max-width: 57%;
      padding-left: 3%; }
  .apartments {
    height: 80vh;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .apartments-left {
      -webkit-flex-basis: 57%;
      flex-basis: 57%;
      max-width: 57%;
      padding-right: 3%; }
    .apartments-right {
      display: block;
      -webkit-flex-basis: 40%;
      flex-basis: 40%;
      max-width: 40%; }
  .opinion {
    height: 65vh; }
  .contact-page-content .map-link {
    height: 300px; } }

@media (min-width: 1600px) {
  .flexslider {
    width: 75%;
    height: 650px; }
  .services .service-1,
  .services .service-2,
  .services .service-3 {
    display: flex;
    height: 500px; } }

@media (max-width: 992px) and (orientation: landscape) {
  .aparthotel {
    height: 200vh; }
  .apartments {
    height: 140vh; }
  .opinion {
    height: 95vh; }
  .contact .map {
    height: 70vh; } }
