@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700|Playfair+Display:400,400i,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700|Playfair+Display:400,400i,700&subset=latin-ext");
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

.header-background img {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3; }
  .header-menu .logo {
    transition: opacity 0.5s ease; }
    .header-menu .logo img {
      padding: 3px 0 3px 5px;
      position: fixed;
      left: 0;
      top: 0;
      width: auto;
      height: 44px; }
  .header-menu .contact-text {
    font-family: "Lato";
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1200 - 300)));
    font-weight: 400;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: fixed;
    top: 5px;
    left: 25px;
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1200 - 300)));
    color: #000;
    text-align: center; }
  .header-menu .menu-bar {
    transition: background 0.5s ease-in-out;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .header-menu .menu-bar .menu-btn {
      padding-right: 20px;
      cursor: pointer; }
      .header-menu .menu-bar .menu-btn .btn-line {
        height: 3px;
        width: 28px;
        background: #000;
        margin-bottom: 6px;
        border-radius: 60px; }
      .header-menu .menu-bar .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      .header-menu .menu-bar .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .header-menu .menu-bar .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -7px); }
  .header-menu .menu-nav {
    font-family: "Lato";
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1200 - 300)));
    font-weight: 400;
    transition: background 0.5s ease-in-out;
    display: none;
    background: #fff;
    margin-top: 50px;
    width: 100%;
    font-size: 16px; }
    .header-menu .menu-nav ul {
      list-style: none;
      list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7); }
      .header-menu .menu-nav ul li {
        text-align: center;
        padding: 10px 0; }
        .header-menu .menu-nav ul li a {
          text-decoration: none;
          color: #000; }
      .header-menu .menu-nav ul li:hover {
        background-color: #992727; }
        .header-menu .menu-nav ul li:hover a {
          color: #fff; }
    .header-menu .menu-nav.show {
      display: block; }

.header-description {
  height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .header-description .title,
  .header-description .content {
    font-weight: 400;
    font-family: "Playfair Display"; }
  .header-description .title {
    line-height: 1.1;
    font-size: calc(45px + (60 - 45) * ((100vw - 300px) / (1200 - 300))); }
  .header-description .content {
    margin-top: 20px;
    font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1200 - 300))); }

.aparthotel {
  width: 100%;
  max-width: 100%;
  margin: 30px 0;
  height: 100vh;
  overflow: hidden; }
  .aparthotel-left {
    display: none; }
  .aparthotel-right {
    height: 100%; }
    .aparthotel-right .row-1,
    .aparthotel-right .row-2,
    .aparthotel-right .row-3 {
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 33.33333333%; }
    .aparthotel-right .row-1 {
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      text-align: center; }
      .aparthotel-right .row-1 .title {
        width: 50%; }
      .aparthotel-right .row-1 .img-2 {
        width: 50%; }
    .aparthotel-right .img-2,
    .aparthotel-right .img-3,
    .aparthotel-right .img-4 {
      -webkit-flex-basis: 50%;
      flex-basis: 50%;
      height: 100%;
      max-width: 50%; }
    .aparthotel-right .title,
    .aparthotel-right .description {
      width: 80%; }
    .aparthotel-right .description {
      font-family: "Lato";
      font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1200 - 300)));
      font-weight: 400; }
    .aparthotel-right .title {
      font-family: "Playfair Display";
      font-weight: 400;
      color: #992727;
      font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1200 - 300))); }
    .aparthotel-right .flexContainer {
      -webkit-flex-basis: 50%;
      flex-basis: 50%;
      max-width: 50%;
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      text-align: center; }

.flexslider {
  position: relative;
  width: 95%;
  margin: 40px auto; }
  .flexslider .slides {
    height: 100%;
    width: 100%;
    margin: 0; }
    .flexslider .slides li {
      height: 100%;
      width: 100%; }
      .flexslider .slides li img {
        height: 100%;
        width: 100%; }
  .flexslider .flex-caption {
    position: absolute;
    width: 96%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    font-size: 14px;
    line-height: 25px;
    font-family: "Lato";
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1200 - 300)));
    font-weight: 400; }
    .flexslider .flex-caption span {
      font-family: "Playfair Display";
      font-weight: 400;
      color: #992727;
      font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1200 - 300)));
      color: #fff;
      margin-bottom: 10px; }
  .flexslider .flex-control-paging {
    display: none; }
  .flexslider .flex-next,
  .flexslider .flex-prev {
    z-index: 2; }

.apartments {
  height: 50vh;
  width: 100%;
  max-width: 100%;
  margin-bottom: 30px; }
  .apartments-left {
    height: 100%; }
    .apartments-left .row-1,
    .apartments-left .row-2 {
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 50%; }
    .apartments-left .title,
    .apartments-left .img-1,
    .apartments-left .img-2,
    .apartments-left .flexContainer {
      -webkit-flex-basis: 50%;
      flex-basis: 50%;
      max-width: 50%; }
    .apartments-left .flexContainer {
      -webkit-flex-basis: 50%;
      flex-basis: 50%;
      max-width: 50%;
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      text-align: center; }
    .apartments-left .description-1 {
      width: 80%; }
    .apartments-left .img-1,
    .apartments-left .img-2 {
      width: 100%;
      height: 100%; }
    .apartments-left .title {
      font-family: "Playfair Display";
      font-weight: 400;
      color: #992727;
      font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1200 - 300)));
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      text-align: center; }
    .apartments-left .description-1 {
      font-family: "Lato";
      font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1200 - 300)));
      font-weight: 400; }
  .apartments-right {
    display: none; }
    .apartments-right .img-4 {
      width: 100%;
      height: 100%; }

.opinion {
  width: 100%;
  height: 40vh;
  position: relative; }
  .opinion-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  .opinion-title {
    font-family: "Playfair Display";
    font-weight: 400;
    color: #992727;
    font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1200 - 300)));
    z-index: -1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 5%;
    text-align: center;
    color: #fff;
    margin: 0 auto; }
  .opinion-slider {
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1200 - 300)));
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center; }
    .opinion-slider .content {
      color: #fff; }

.contact-info {
  background-color: #000;
  padding: 50px 0;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  flex-direction: column; }
  .contact-info .title {
    font-family: "Playfair Display";
    font-weight: 400;
    color: #992727;
    font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1200 - 300)));
    color: #fff;
    font-size: calc(30px + (35 - 30) * ((100vw - 300px) / (1200 - 300))); }
  .contact-info .details {
    font-family: "Lato";
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1200 - 300)));
    font-weight: 400;
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1200 - 300))); }
  .contact-info .address {
    margin: 20px 0; }
  .contact-info .icons {
    margin-top: 10px; }
    .contact-info .icons a {
      text-decoration: none; }
    .contact-info .icons .facebook-icon,
    .contact-info .icons .instagram-icon {
      width: 20px;
      height: 20px;
      padding: 5px; }

.contact .map {
  width: 100%;
  height: 40vh; }
  .contact .map-link {
    width: 100%;
    height: 100%; }

.footer {
  width: 100%;
  min-height: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  background-color: #992727; }
  .footer-copyrights {
    color: #fff;
    font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1200 - 300)));
    font-weight: 400; }

@media (min-width: 480px) {
  .apartments-left {
    min-height: 70vh; }
  .header-menu .logo img {
    left: 20px; }
  .header-menu .contact-text {
    left: 40px; }
  .slider {
    height: 70vh; }
  .contact-page-content .map-link {
    height: 250px; } }

@media (min-width: 768px) {
  .aparthotel {
    height: 150vh; }
  .header-menu .logo img {
    left: 40px;
    top: 0; }
  .header-menu .contact-text {
    left: 70px; }
  .flexslider {
    width: 80%; }
  .services .service-1,
  .services .service-2,
  .services .service-3 {
    display: flex;
    height: 350px; }
    .services .service-1 .service-img,
    .services .service-2 .service-img,
    .services .service-3 .service-img {
      width: 50%; }
    .services .service-1 .text,
    .services .service-2 .text,
    .services .service-3 .text {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .services .service-1 .text .description,
      .services .service-2 .text .description,
      .services .service-3 .text .description {
        width: 80%;
        margin: 0 auto; }
  .services .service-2 {
    flex-direction: row-reverse; }
  .travel .flexContainer {
    width: 100%;
    display: flex; }
    .travel .flexContainer .travel-1,
    .travel .flexContainer .travel-2 {
      width: 44%;
      padding: 0 3%; }
  .travel .details {
    width: 100%; }
    .travel .details .sub-title {
      font-family: "Playfair Display";
      font-weight: 400;
      color: #992727;
      font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1200 - 300)));
      font-size: calc(18px + (30 - 18) * ((100vw - 300px) / (1200 - 300)));
      text-align: center;
      margin-bottom: 10px; }
    .travel .details ul {
      font-family: "Lato";
      font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1200 - 300)));
      font-weight: 400;
      font-size: calc(13px + (16 - 13) * ((100vw - 300px) / (1200 - 300)));
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      line-height: 1.4;
      margin-bottom: 30px; }
      .travel .details ul li {
        list-style: none;
        margin-bottom: 10px; }
        .travel .details ul li img {
          padding-right: 10px; }
  .contact-page-content {
    width: 100%;
    display: flex; }
    .contact-page-content .message {
      flex: 1;
      margin: 0 3%; }
    .contact-page-content .details {
      flex: 1;
      margin: 0 3%;
      text-align: left;
      align-self: flex-start; }
    .contact-page-content .map-link {
      height: 200px; } }

@media (min-width: 992px) {
  .header-menu .menu-bar .menu-btn {
    display: none; }
  .header-menu .menu-nav {
    display: block;
    width: auto;
    margin: 0;
    font-size: 16px;
    z-index: 3;
    position: fixed;
    top: 0;
    right: 30px; }
    .header-menu .menu-nav ul {
      z-index: 3;
      display: flex;
      justify-content: flex-end;
      height: 50px; }
      .header-menu .menu-nav ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px; }
  .flexslider {
    width: 75%;
    height: 550px; }
  .slider {
    height: 90vh; }
  .contact {
    display: grid;
    grid-template-columns: 1fr 3fr; }
    .contact .map {
      height: auto; }
    .contact .icons .facebook-icon,
    .contact .icons .instagram-icon {
      width: 24px;
      height: 24px; }
  .contact-page-content .message {
    flex: 2; }
  .contact-page-content .details {
    flex: 1; } }

@media (min-width: 1200px) {
  .header-menu .menu-nav {
    right: 50px; }
  .aparthotel {
    display: flex; }
    .aparthotel-left {
      flex-basis: 40%;
      max-width: 40%;
      display: block;
      min-height: 100vh; }
      .aparthotel-left .img-1 {
        width: 100%;
        height: 100%; }
    .aparthotel-right {
      flex-basis: 57%;
      max-width: 57%;
      padding-left: 3%; }
  .apartments {
    height: 80vh;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .apartments-left {
      -webkit-flex-basis: 57%;
      flex-basis: 57%;
      max-width: 57%;
      padding-right: 3%; }
    .apartments-right {
      display: block;
      -webkit-flex-basis: 40%;
      flex-basis: 40%;
      max-width: 40%; }
  .opinion {
    height: 65vh; }
  .contact-page-content .map-link {
    height: 300px; } }

@media (min-width: 1600px) {
  .flexslider {
    width: 75%;
    height: 650px; }
  .services .service-1,
  .services .service-2,
  .services .service-3 {
    display: flex;
    height: 500px; } }
