@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700|Playfair+Display:400,400i,700&subset=latin-ext");
@media (min-width: 480px) {
  .apartments-left {
    min-height: 70vh; }
  .header-menu .logo img {
    left: 20px; }
  .slider {
    height: 70vh; }
  .contact-page-content .map-link {
    height: 250px; } }

@media (min-width: 768px) {
  .apartments-left {
    min-height: 100vh; }
  .header-menu .logo img {
    left: 40px;
    top: 0;
    height: 70px; }
  .header-menu .contact-text {
    left: 100px; }
  .opinion-slider .content {
    width: 50%; }
  .services {
    padding-top: 80px;
    min-height: calc(100vh - 100px); }
    .services .service {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 50vh; }
      .services .service img {
        width: 50%;
        height: 100%; }
    .services .service-1 img,
    .services .service-2 img,
    .services .service-3 img {
      grid-area: img; }
    .services .service-1 .text,
    .services .service-2 .text,
    .services .service-3 .text {
      grid-area: text1; }
    .services .service-1 {
      grid-template-areas: 'img text1'; }
    .services .service-2 {
      grid-template-areas: 'text1 img'; }
    .services .service-3 {
      grid-template-areas: 'img text1'; }
  .contact-page-content {
    width: 80%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    margin: 0 auto; }
    .contact-page-content .details {
      text-align: left;
      align-self: flex-start; }
    .contact-page-content .map-link {
      height: 200px; } }

@media (min-width: 992px) {
  .header-menu .menu-bar .menu-btn {
    display: none; }
  .header-menu .menu-nav {
    width: auto;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    margin: 0;
    font-size: 16px;
    z-index: 3;
    position: fixed;
    top: 0;
    right: 30px;
    background: rgba(0, 0, 0, 0); }
    .header-menu .menu-nav ul {
      z-index: 3;
      display: flex;
      justify-content: flex-end;
      height: 50px; }
      .header-menu .menu-nav ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px; }
  .slider {
    height: 90vh; }
  .contact {
    display: grid;
    grid-template-columns: 1fr 3fr; }
    .contact .map {
      height: auto; }
  .contact-page-content {
    width: 80%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-column-gap: 50px;
    margin: 0 auto; }
    .contact-page-content .details {
      text-align: left;
      align-self: flex-start; }
    .contact-page-content .map-link {
      height: 200px; } }

@media (min-width: 1200px) {
  .header-menu .menu-nav {
    right: 50px; }
  .aparthotel {
    height: 100vh;
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1.5fr 2.5fr;
    grid-column-gap: 35px; }
    .aparthotel-left {
      display: block; }
      .aparthotel-left .img-1 {
        width: 100%;
        height: 100%; }
  .apartments {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-column-gap: 30px; }
    .apartments-right {
      display: block; }
  .opinion {
    height: 50vh; }
  .contact-page-content .map-link {
    height: 300px; } }
