@import 'config';
.contact-page {
    background-image: url("../images/pexels-photo.jpg") ;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 20px;
    min-height: calc(100vh - 20px);
    &-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    &-title {
        font-family: 'Playfair Display';
        font-weight: 400;
        text-align: center;
        color: black;
        @include cssLock(40,
        45);
        padding-top: 100px;
    }
    &-content {
        width: 80%;
        margin: 0 auto;
        padding-top: 50px;
        @include descriptionStyle;
        .message {
            margin-bottom: 30px;
            input[type=text],
            select,
            textarea {
                @include descriptionStyle;
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                margin-bottom: 10px;
                resize: none;
                background-color: #f3f3f3;
                color: #262626;
                @include cssLock(13,15);
            }
            ::placeholder {
                color: #262626;
                @include cssLock(13,15);
            }
            input[type=submit] {
                background-color: #992727;
                color: #fff;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                font-size: 14px;
                cursor: pointer;
            }
            input[type=submit]:hover {
                background-color: #fff;
                color: #000;
            }
            .info-label {
                @include cssLock(13,15);
                color: #000;
            }
            .loading-icon {
                display: none;
                width: 60px;
            }
            .form-error {
                color: #fff;
                font-weight: 400;
                margin-bottom: 10px;
                font-size: 17px;
                background-color: #1C1C1C;
                background-color: rgba(0, 0, 0, 0.8);
                border-radius: 5px;
                text-align: center;
            }
            .success-info {
                color: #fff;
                font-weight: 400;
                font-size: 17px;
                background-color: #1C1C1C;
                background-color: rgba(0, 0, 0, 0.8);
                border-radius: 5px;
                text-align: center;
            }
            .accept{
                display: flex;
                height: 50px;
            }
        }
        .details {
            display: flex;
            flex-direction: column;
            color: #fff;
            background: rgba(0, 0, 0, 0.7);
            border-radius: 5px;
            padding: 20px;
            text-align: center;
            .title{
                @include titleStyle;
                @include cssLock(25, 30);
                color: #fff;
                padding-bottom: 20px;
            }
            .description{
                padding-bottom: 10px;
            }
            .map-link{
                width: 100%;
                margin-top: 20px;
            }
        }
    }
}

@import 'media';