@import 'config';
// min-width: 480px
@include respond-to(mediaSm) {
    .header {
        &-menu {
            .logo {
                img {
                    left: 20px;
                }
            }
            .contact-text {
                left: 40px;
            }
        }
    }
    .aparthotel {
        width: 90%;
        margin: 30px auto 0 auto;
        height: 100vh;
    }
    .apartments {
        width: 90%;
        margin: 30px auto 0 auto;
        height: 100vh;
    }
    .contact-page {
        &-content {
            .map-link {
                height: 250px;
            }
        }
    }
}

// min-width: 768px
@include respond-to(mediaMd) {
    .header {
        &-menu {
            .logo {
                img {
                    left: 40px;
                    top: 0;
                }
            }
            .contact-text {
                left: 70px;
            }
        }
    }
    .opinion{
        &-overlay{
            height: 80%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0%, -50%);
        }
    }
    .services {
        .service-1,
        .service-2,
        .service-3 {
            display: flex;
            height: 350px;
            .service-img {
                width: 50%;
            }
            .text {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .description {
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }
        .service-2 {
            flex-direction: row-reverse;
        }
    }
    .travel {
        .flexContainer {
            width: 100%;
            display: flex;
            .travel-1,
            .travel-2 {
                width: 44%;
                padding: 0 3%;
            }
        }
        .details {
            width: 100%;
            .sub-title {
                @include titleStyle;
                @include cssLock(18, 30);
                text-align: center;
                margin-bottom: 10px;
            }
            ul {
                @include descriptionStyle;
                @include cssLock(13, 16);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                line-height: 1.4;
                margin-bottom: 30px;
                li {
                    list-style: none;
                    margin-bottom: 10px;
                    img {
                        padding-right: 10px;
                    }
                }
            }
        }
    } // CONTACT PAGE
    .contact-page {
        &-content {
            width: 100%;
            display: flex;
            .message {
                flex: 1;
                margin: 0 3%;
            }
            .details {
                flex: 1;
                margin: 0 3%;
                text-align: left;
                align-self: flex-start;
            }
            .map-link {
                height: 200px;
            }
        }
    }
}

// min-width: 992px
@include respond-to(mediaLg) {
    .header {
        &-menu {
            .menu-bar {
                .menu-btn {
                    display: none;
                }
            }
            .menu-nav {
                display: block;
                width: auto;
                margin: 0;
                font-size: 16px;
                z-index: 3;
                position: fixed;
                top: 0;
                right: 30px;
                ul {
                    z-index: 3;
                    display: flex;
                    justify-content: flex-end;
                    height: 50px;
                    li {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                    }
                }
            }
        }
    }
    .slider {
        height: 90vh;
    }
    .contact {
        @include flexbox;
        &-info {
            @include flex-basis(25%);
            max-width: 25%;
        }
        .map {
            @include flex-basis(75%);
            max-width: 75%;
            height: auto;
        }
        .icons {
            .facebook-icon,
            .instagram-icon {
                width: 24px;
                height: 24px;
            }
        }
    }
    .contact-page {
        &-content {
            .message {
                flex: 2;
            }
            .details {
                flex: 1;
            }
        }
    }
}

// min-width: 1200px
@include respond-to(mediaXl) {
    .header {
        &-menu {
            .menu-nav {
                right: 50px;
            }
        }
    }
    .aparthotel {
        display: flex;
        &-left {
            flex-basis: 40%;
            max-width: 40%;
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            min-height: 100vh;
            .img-1 {
                width: 100%;
                height: 80%;
            }
        }
        &-right {
            flex-basis: 57%;
            max-width: 57%;
            padding-left: 2%;
            .row-1 {
                .border-container {
                    .title {
                        padding: 30px 0px;
                        border: 2px $MainTitleColor solid;
                        width: 90%;
                    }
                }
            }
            .row-2,
            .row-3 {
                .description {
                    width: 85%;
                    padding: 30px 10px;
                }
            }
            .row-2 {
                .border-container {
                    .description-1 {
                        border-top: 2px solid $MainTitleColor;
                        border-right: 2px solid $MainTitleColor;
                        background: linear-gradient($MainTitleColor, $MainTitleColor) right bottom no-repeat;
                        background-size: 20% 2px;
                    }
                }
            }
            .row-3 {
                .border-container {
                    .description-2 {
                        border-top: 2px solid $MainTitleColor;
                        border-left: 2px solid $MainTitleColor;
                        background: linear-gradient($MainTitleColor, $MainTitleColor) left bottom no-repeat;
                        background-size: 20% 2px;
                    }
                }
            }
        }
    }
    .flexslider {
        height: 85%;
    }
    .apartments {
        display: flex;
        &-right {
            flex-basis: 40%;
            max-width: 40%;
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            min-height: 100vh;
            .img-4 {
                width: 100%;
                height: 80%;
            }
        }
        &-left {
            flex-basis: 57%;
            max-width: 57%;
            padding-right: 2%;
            .row-1 {
                .border-container {
                    .title {
                        padding: 5px 0px;
                        border: 2px $MainTitleColor solid;
                        width: 90%;
                    }
                }
            }
            .row-2,
            .row-3 {
                .description {
                    width: 85%;
                    padding: 30px 10px;
                }
            }
            .row-2 {
                .border-container {
                    .description-1 {
                        border-top: 2px solid $MainTitleColor;
                        border-left: 2px solid $MainTitleColor;
                        background: linear-gradient($MainTitleColor, $MainTitleColor) left bottom no-repeat;
                        background-size: 20% 2px;
                    }
                }
            }
            .row-3 {
                .border-container {
                    .description-2 {
                        border-top: 2px solid $MainTitleColor;
                        border-right: 2px solid $MainTitleColor;
                        background: linear-gradient($MainTitleColor, $MainTitleColor) right bottom no-repeat;
                        background-size: 20% 2px;
                    }
                }
            }
        }
    }

    .opinion {
        height: 65vh;
    }
    .contact-page {
        &-content {
            .map-link {
                height: 300px;
            }
        }
    }
}

@media(min-width: 1600px) {
    .flexslider {
        height: 85%;
    }
    .services {
        .service-1,
        .service-2,
        .service-3 {
            display: flex;
            height: 500px;
        }
    }
}

@media(max-width: 768px) and (orientation: landscape) {
    .aparthotel {
        height: 130vh;
    }
    .flexslider{
        height: 100vh;
    }
    .apartments {
        height: 200vh;
    }
    .opinion {
        height: 95vh;
    }
    .contact {
        .map {
            height: 70vh;
        }
    }
}
