@import 'config';
@media(min-width: 430px) {
    
}

// min-width: 480px
@include respond-to(mediaSm) {
   .apartments{
       &-left{
          min-height: 70vh; 
       }
       
   }
}

// min-width: 768px
@include respond-to(mediaMd) {
    .apartments{
        &-left{
           min-height: 100vh; 
        }
        
    }
}

// min-width: 992px
@include respond-to(mediaLg) {
   

   .contact{
       display: grid;
       grid-template-columns: 1fr 3fr;
   }
}

// min-width: 1200px
@include respond-to(mediaXl) {
    .aparthotel{
        height: 100vh;
        display: grid;
        grid-template-areas: "left right";
        grid-template-columns: 1.5fr 2.5fr;
        grid-column-gap: 35px;
        &-left {
            display: block;
            .img-1 {
                width: 100%;
                height: 100%;
            }
        }
    }

    .apartments{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        &-right{
            display: block;
        }
    }
}

// @media screen and (orientation:landscape) {
//     .aparthotel{
//         min-height: 200vh;
//     }
// }