@import 'config';
.services {
    padding-top: 50px;
    min-height: calc(100vh - 70px);
    @include centerText();
    flex-direction: column;
    .service {
        width: 100%;
        img {
            width: 100%;
        }
        .text {
            padding: 20px 0 30px 0;
            @include centerText;
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
            .title {
                @include titleStyle;
                padding-bottom: 10px;
                @include cssLock(30, 40, 300, 1200);
            }
            .description {
                @include descriptionStyle;
                @include cssLock(13, 16, 300, 1200);
            }
            .description-1 {
                margin-bottom: 10px;
            }
            .price-table {
                @include cssLock(13, 16, 300, 1200);
                margin-top: 10px;
                border: solid 1px #DDEEEE;
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;
                thead {
                    th {
                        background-color: $MainTitleColor;
                        border: solid 1px #DDEEEE;
                        color: #fff;
                        font-weight: 400;
                        padding: 10px;
                        text-align: center;
                    }
                }
                tbody {
                    td {
                        border: solid 1px #DDEEEE;
                        color: #333;
                        padding: 10px;
                        text-shadow: 1px 1px 1px #fff;
                    }
                }
            }
        }
    }
}

.footer {
    height: 20px;
}